name: Docker Test & Publish

on:
  push:
    tags:
      - "*"
  pull_request:
    paths:
      - "Dockerfile"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  base:
    name: Test base image build
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      # Configure build environment
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Build the image
      - name: Build base image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository_owner }}/base:latest
          cache-from: type=gha,scope=buildx-base-multi-arch
          cache-to: type=gha,scope=buildx-base-multi-arch,mode=max

  publish:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    name: Publish Docker images
    steps:
      # Configure build environment
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Authenticate with Docker Hub and GHCR
      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build the image
      - name: Build base image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository_owner }}/base:latest

      # upryzing/api
      - name: Docker meta
        id: meta-delta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/api
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/delta/Dockerfile
          tags: ${{ steps.meta-delta.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-delta.outputs.labels }}

      # upryzing/events
      - name: Docker meta
        id: meta-bonfire
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/events
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/bonfire/Dockerfile
          tags: ${{ steps.meta-bonfire.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-bonfire.outputs.labels }}

      # upryzing/file-server
      - name: Docker meta
        id: meta-pigeon
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/file-server
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/services/pigeon/Dockerfile
          tags: ${{ steps.meta-pigeon.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-pigeon.outputs.labels }}

      # upryzing/proxy
      - name: Docker meta
        id: meta-dove
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/proxy
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/services/dove/Dockerfile
          tags: ${{ steps.meta-dove.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-dove.outputs.labels }}

      # upryzing/gifbox
      - name: Docker meta
        id: meta-gifbox
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/gifbox
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/services/gifbox/Dockerfile
          tags: ${{ steps.meta-gifbox.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-gifbox.outputs.labels }}

      # upryzing/crond
      - name: Docker meta
        id: meta-crond
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/crond
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/daemons/crond/Dockerfile
          tags: ${{ steps.meta-crond.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-crond.outputs.labels }}

      # upryzing/pushd
      - name: Docker meta
        id: meta-pushd
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/pushd
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/daemons/pushd/Dockerfile
          tags: ${{ steps.meta-pushd.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-pushd.outputs.labels }}

      # upryzing/voice-ingress
      - name: Docker meta
        id: meta-voice-ingress
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/upryzing/voice-ingress
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/daemons/voice-ingress/Dockerfile
          tags: ${{ steps.meta-voice-ingress.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-voice-ingress.outputs.labels }}
