name: Publish Crates

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    name: Publish Crates
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Publish crates
        uses: katyo/publish-crates@02cc2f1ad653fb25c7d1ff9eb590a8a50d06186b # v2
        with:
          registry-token: ${{ secrets.CRATES_IO_PUBLISH_TOKEN }}
