name: Rust build, test, and generate specification

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      # Using our own runners for now:
      # - name: Free up disk space
      #   run: |
      #     sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc

      - name: Setup Mise
        uses: immich-app/devtools/actions/use-mise@cd24790a7f5f6439ac32cc94f5523cb2de8bfa8c # use-mise-action-v1.1.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: mise build
      - run: mise docker:start
    
      - name: Reference Test
        env:
          TEST_DB: REFERENCE
        run: |
          mise test

      - name: MongoDB Test
        env:
          TEST_DB: MONGODB
          MONGODB: mongodb://localhost
        run: |
          mise test

      - name: Start API in background
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        env:
          TEST_DB: REFERENCE
        run: |
          mise build --bin revolt-delta && (mise service:api &)

      - name: Wait for API to go up
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        uses: nev7n/wait_for_response@7fef3c1a6e8939d0b09062f14fec50d3c5d15fa1 # v1.0.1
        with:
          url: "http://localhost:14702/"

      - name: Checkout API repository
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: upryzing/api-typescript
          path: api
          ssh-key: ${{ secrets.PAT }}

      - name: Download OpenAPI specification
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        run: curl http://localhost:14702/openapi.json -o api/OpenAPI.json

      - name: Commit changes
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          cwd: "api"
          add: "*.json"
          author_name: Stoat CI
          author_email: stoat-ci@users.noreply.github.com
          message: "chore: generate OpenAPI specification"
